apiVersion: v1
kind: ConfigMap
metadata:
    name: postgres-init-scripts
    namespace: dcim
data:
    init-db.sql: |
        -- Initialize TimescaleDB extension on database creation
        CREATE EXTENSION IF NOT EXISTS timescaledb;
