apiVersion: v1
kind: Service
metadata:
    name: postgres
    namespace: {{ include "dcim.namespace" . }}
    labels:
        {{- include "dcim.labels" . | nindent 8 }}
        app.kubernetes.io/component: postgres
spec:
    type: ClusterIP
    selector:
        {{- include "dcim.postgres.selectorLabels" . | nindent 8 }}
    ports:
        - port: {{ .Values.postgres.service.port }}
          targetPort: {{ .Values.postgres.service.port }}
          name: postgres
